@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital@1&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');
/* Start Global Rules  */
:root {
    --primaryColor1:#3a6cf4;
    --primaryColor11:#0a88eb;
    --primaryColor2:#000;
    --section-background:#ECECEC;
    --mainPadding:60px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
ul {
    list-style: none;
}
.main-title {
  width: fit-content;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  /* padding-top: 20px; */
  margin: 100px auto;
  color: var(--primaryColor1);
  cursor: pointer;
  position: relative;
}
@media(max-width:767px) {
  .main-title {
    font-size: 30px;
  }
}
.main-title::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%,-50%);
  width: calc(100% - 100px);
  height: 5px;
  background-color: #000;
}
.main-title::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 0px;
  height: 5px;
  background-color: var(--primaryColor1);
  transition: 0.5s;
}
.main-title:hover::after {
  width: calc(100% - 100px);
}
/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* End Global Rules  */
  /* Start Header  */
  header {
    position: relative;
    background-color: #000;
  }
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-transform: capitalize;
    position: relative;
  }
  @media(max-width:991px) {
    header .container {
      flex-direction: column;
    }
  }
  header .container .logo {
    padding: 25px;
  }
  @media(max-width:767px) {
    header .container .logo {
      width: 100%;
    }
  }
  header .container .logo a {
    font-size: 35px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  @media(max-width:767px) {
    header .container .logo  a {
      width: 100%;
    }
  }
  header .container .logo span {
    color: var(--primaryColor1);
  }

  header .container .main-nav {
    display: flex;
    
  }
  @media(max-width:767px) {
    header .container .main-nav {
      flex-direction: row;
    width: 100%;
    margin: 10px 0 25px;
    justify-content: center;
    }
  }
  @media(max-width:991px) {
    header .container .main-nav {
      margin: 20px auto;
    }
  }
  header .container .main-nav a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin-right: 15px;
    margin-left: 15px;
    transition: 0.3s ease;
  }
  @media(max-width:767px) {
    header .container .main-nav a {
      text-decoration: none;
      font-size: 14px;
      color: white;
      margin-right: 6px;
      margin-left: 10px;
    }
  }
  header .container .main-nav:hover a {
    color: #777;
  }
  header .container .main-nav li:hover a:hover {
    color: var(--primaryColor1);
    border-bottom: 1px solid var(--primaryColor1);
  }
  /* End Header  */
  /* Start Home */
  .home {
    position: relative;
    padding-top: var(--mainPadding);
    padding-bottom: var(--mainPadding);
  }

  .home .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(100px);
    position: relative;
  }
  .home .container .image img {
    max-width: 100%;
    position: relative;
    animation: up-down-home-page-image 3s linear infinite;
  }
  @media(max-width:767px)
  {
    .home .container .image img {
      display: none;
    }
  }
  .home .container .content h2 {
    font-size: 35px;
    font-weight: bold;
  }
  @media(max-width:767px)
  {
    .home .container .content h2{
      font-size: 28px;
    }
  }
  .home .container .content h2 span {
    color: var(--primaryColor1);
  }
  .home .container .content p {
    margin-top: 25px;
    line-height: 2;
    color: #777;
    text-transform: capitalize;
    font-size: 18px;
  }
  .home .container .content .icon {
    font-size: 22px;
    margin-top: 10px;
    margin-right: 25px;
    transition: 0.3s;
  }
  .home .container .content .icon:hover {
    color: var(--primaryColor1);
  }
  @media(max-width:767px) {
    .home .container .content {
      text-align: center;
    }
  }
  /* End Home */
  /* Start Services  */
  .services {
    padding-top: var(--mainPadding);
    padding-bottom: var(--mainPadding);
    position: relative;
  }
  .services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 40px;
  }
  .services .box {
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: transparent;
    transition: transform 0.5s,background-color 0.5s;
  }
  .services .box i {
    font-size: 40px;
    margin-bottom: 10px;
    color:#303ef7;
  }
  .services .box h2 {
    font-weight: 600;
    margin-bottom: 8px;
  }
  .services .box p {
    font-size: 15px;
    color: #777;
    line-height: 1.2;
  }
  .services .box:hover {
    background-color: #3a6cf4;
    color: #fff;
    transform: scale(1.05);
  }
  .services .box:hover i {
    color: #fff;
  }
  .services .box:hover p {
    color: #fff;
  }
  /* End Services  */
  /* start porfolio */
  .portfolio {
    padding-top: var(--mainPadding);
    padding-bottom: var(--mainPadding);
    position: relative;
  }
  .portfolio .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 40px;
  }
  .portfolio .container .box {
    background-color: white;
    box-shadow: 1px 1px 20px rgba(0 0 0 / 7%);
    border-radius: 6px;
    padding: 10px;
    transition:transform 0.5s, border 0.5s ;
  }
  .portfolio .container .box:hover {
    transform: scale(1.1);
  }
  .portfolio .container .box img {
    max-width: 100%;
    border-radius: 6px;
    overflow: hidden;
  }
  .portfolio .container .box h3 {
    font-size: 21px;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    color: var(--primaryColor1);
  }
  .portfolio .container .box p {
    color: #777;
    font-size: 18px;
    line-height: 1.3;
    margin: 10px;
    padding: 5px;
    text-align: center;
  }
  .portfolio .container .box .info {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .portfolio .container .box .info a {
    text-decoration: none;
    color: var(--primaryColor1);
    font-size: 25px;
    font-weight: bold;
    padding: 20px 10px;
  }
  .portfolio .container .box .info i {
    color: var(--primaryColor1);
    font-size: 18px;
    position: relative;
    animation: bouncing 1s linear infinite;
  }
  /* End porfolio */
  /* Start about */
  .about {
    padding-top: var(--mainPadding);
    padding-bottom: var(--mainPadding);
    position: relative;
  }
  .about .container {
    position: relative;
  }
  .about .container .box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }
  .about .container img {
    max-width: 100%;
    position: relative;
    animation: up-down-about-page-image 5s linear infinite;
  }
  @media(max-width:767px) {
    .about .container img {
      display: none;
    }
  }
  @media(max-width:991px) {
    .about .container img {
      display: none;
    }
  }
  .about .container .content {
    padding: 10px;
    position: relative;
  }
  @media(max-width:767px) {
    .about .container .content {
     padding: 20px;
     box-shadow:1px 1px 10px rgba(0 0 0 / 7%);
    }
  }
  @media(max-width:991px) {
    .about .container .content {
      box-shadow:1px 1px 10px rgba(0 0 0 / 7%);
      padding: 20px;
    }
  }
  
  .about .container .content h3 {
    font-size: 40px;
    text-align: center;
    color: var(--primaryColor11);
    width: fit-content;
    margin: 40px auto;
    padding: 10px;
    position: relative;
  }
  .about .container .content h3::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: calc(100% - 30px);
    height: 2px;
    background-color: var(--primaryColor11);
  }
  .about .container p {
    font-size: 20px;
    color: #777;
    line-height: 1.3;
  }
  .about .container p span {
    color: var(--primaryColor1);
  }
  /* End about */
  /* Start contact us  */
  .contact {
    padding-top: var(--mainPadding);
    padding-bottom: var(--mainPadding);
    position: relative;
  }
  .contact .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contact .box img {
    max-width: 100%;
    width: 900px;
    animation: up-down-contact-page-image 5s linear infinite;
    position: relative;
  }
  @media(max-width:767px) {
    .contact .box img {
      display: none;
    }
  }
  @media(max-width:991px) {
    .contact .box img {
      display: none;
    }
  }
  .contact .box form {
    width: calc(100% - 20px);
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    margin: 10px auto;
  }
  @media(max-width:767px) {
    .contact .box form {
      width: calc(100% - 150px);
      justify-content: center;
      padding: 0 20px 80px 20px;
    }
  }
  @media(max-width:991px) {
    .contact .box form {
      width: calc(100% - 70px);
      justify-content: center;
      padding: 0 20px 80px 20px;
    }
  }
  .contact .box form input {
    padding: 20px 10px;
    outline: none;
  }
  .contact .box form textarea {
    height: 200px;
    padding: 20px 10px;
    outline: none;
  }
  .contact .box form input[type="submit"] {
    display: flex;
    width: fit-content;
    border: none;
    background-color: var(--primaryColor1);
    color: white;
    font-size: 18px;
    transition:  transform 0.2s,color 0.2s;
  }
  .contact .box form input[type="submit"]:hover {
    transform: scale(0.96);
    color: #000;
    cursor: pointer;
  }
  /* End contact us  */
  /* Start footer  */
  .footer {
    background-color: #24262b;
    padding: 70px 0;
    padding-bottom: 20px;
  }
  .footer .box {
    max-width: 1170px;
    margin: auto;
  }
  .footer .box .row {
    display: flex;
    flex-wrap: wrap;
  }
  .footer .box .row .footer-col {
    width: 25%;
    padding: 0 15px;
  }
  .footer .box .row .footer-col h4 {
    font-size: 18px;
    color: #FFFFFF;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
  }
  .footer .box .row .footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--primaryColor1);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer .box .row .footer-col ul li:not(:last-child) {
    line-height: 1.5;
    margin-bottom: 10px;
  }
  .footer .box .row .footer-col ul li a {
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer .box .row .footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 10px;
  }
  .footer .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255 255 255 /0.2 );
    text-align: center;
    margin: 0 10px 10px 0;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: background-color 0.3s;
  }
  .footer .footer-col .social-links  a.facebook:hover  {
    background-color: var(--primaryColor1);
  }
  .footer .footer-col .social-links  a.twitter:hover  {
    background-color: #00acee;
  }
  .footer .footer-col .social-links  a.insta:hover  {
    background-image:linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }
  .footer .footer-col .social-links  a.linked:hover  {
    background-color: #0072b1;
  }
  @media(max-width:767px) {
    .footer .box .row .footer-col {
      width: 50%;
      padding: 0 15px;
      margin-bottom: 30px;
    }
  }
  @media(max-width:574px) {
    .footer .box .row .footer-col {
      width: 100%;
      padding: 0 15px;
      margin-bottom: 30px auto;
      /* text-align: center; */
    }
  }
  /* End footer  */
  /* Start Animation  */
  @keyframes up-down-home-page-image {
    0% {
      
      top: 0px;
    }
    50% {
      top: -30px;
    }
    100% {
      top: 0px;
    }
  }
  @keyframes up-down-about-page-image {
    0% {
      top: 0px;
    }
    50% {
      top: -30px;
    }
    100% {
      top: 0px;
    }
  }
  @keyframes up-down-contact-page-image {
    0% {
      
      top: 0px;
    }
    50% {
      top: -30px;
    }
    100% {
      top: 0px;
    }
  }
  @keyframes bouncing {
    0% {
      left: 0;
    }
    50% {
      left: -5px;
    }
    100% {
      left: 0;
    }
  }
  /* End Animation  */



